<script lang="ts">
  import {Greet, GetTemplates, CreatePlanet} from '../wailsjs/go/main/App.js'
  import {PlanetViewer} from './earth.js'
  import { onMount } from 'svelte';
  import { fade } from 'svelte/transition';
  // import { createScene } from "./scene";

  let toolbarVisible = true;

  let resultText: string = "Please enter your name below 👇"
  let name: string
  let templates: string[] = []
  let images: string[] = []
  let imgz: string[] = []

  let templateName : string = "OUTRE"
  let x : number = 960
  let y : number = 480
  let status : string="gu"
  let btnCreateWorldDisabled = false
  let pv : PlanetViewer = null;
  let resizeId = 1;


  function greet(): void {
    Greet(name).then(result => resultText = result)
  }

  function getTemplates(): void {
    GetTemplates().then(result => templates = result )
  }

  function toggleToolbar() {
    toolbarVisible = !toolbarVisible
  }

  function createPlanet() : void {
    btnCreateWorldDisabled = true
    CreatePlanet(templateName, x,y).then(result => {
      imgz = []
      pv.bumpMap = ""
      pv.diffuseMap = ""
      pv.specMap = ""
      var cnt = 0
      result.forEach(w=> {
        imgz.push(w)
        switch (cnt) {
          case 0:
            pv.diffuseMap = w
            break
          case 1:
            pv.bumpMap = w
            break
          case 2:
            pv.specMap = w
            break
          default:
            break
        }
        cnt++
      })
      pv.updateSphere()      
      console.log("Ahyea")
      console.log(JSON.stringify(pv))
      btnCreateWorldDisabled = false
      //alert(result)
    })
  }

  function toggleWaiting() { return status==="waiting"}
  function toggleDone() { return status==="done"}
  function urlImage(tpl : string, im : string) : string { return  `/XXX/out/${tpl}_${im}.png`}

  const setCanvasResize = () => {
    pv.resize()    
  }

  onMount(() => {
    pv = new PlanetViewer("canvas")  
    pv.render()
    window.addEventListener('resize', setCanvasResize);
    pv.resize()    
    GetTemplates().then(result => templates = result )
    console.log("Mounted... and resized!")
  });

</script>

<main style="position:relative">
  <div id="toolbar" >
    <div on:click={toggleToolbar} id="buttonHide"><svg class="astro-BY6ZW5N3" height="24px" id="menu-home" viewBox="0 0 24 24" width="24px">
      <rect class="astro-BY6ZW5N3" height="4" style="fill:#f80" width="24" x="0" y="0"></rect>
      <rect class="astro-BY6ZW5N3" height="4" style="fill:#f80" width="24" x="0" y="10"></rect>
      <rect class="astro-BY6ZW5N3" height="4" style="fill:#f80" width="24" x="0" y="20"></rect>
    </svg>
    </div>
    {#if toolbarVisible}
    <fieldset transition:fade  id="planetsFromTemplate">
      <legend>Create Planets From Template</legend>
      <label>
        <span>Planet Templates</span>
        <select bind:value={templateName}>
          {#each templates as tpl}
          <option value={tpl}>
            {tpl}
          </option>
          {/each}
        </select>
      </label>
      <label>
        <span>Texture Width</span>
        <input type="number" bind:value={x}/>
      </label>
      <label>
        <span>Texture Height</span>
        <input type="number" bind:value={y}/>
      </label>
      <label>
        <button disabled={btnCreateWorldDisabled} on:click={createPlanet}>Generate!</button>
      </label>
      <a href="https://threejs.org/examples/webgl2_multiple_rendertargets.html">Treddi</a>
    </fieldset>
    {/if}

  </div>
  {#key resizeId}
  <div id="canvas">
  </div>
  {/key}
</main>

<style>
  main {
    display:flex;
    width: 100%;
    height: 100%;
    flex-direction:column;
    margin: 0px;
  }
  .toolbar {
  }
  #canvas {
    flex-grow: 1;
    margin: 0px;
    padding:0px;
  }
  #canvas > CANVAS {
    padding:0px;
    height: 100%;
  }
</style>
