
HTML, BODY, DIV, MAIN, P, UL LI, OL LI, SELECT, BUTTON, INPUT {
    background-color: black;
    color: #F80;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

BODY {
    margin:0px;
    padding: 0px;
}

SELECT, BUTTON, INPUT {
    border: 2px solid #F80;
    padding: 0.5em;
    font-size: 0.8em;
}

FIELDSET {
    border: 1px solid #F80;
    padding: 0.5;
    font-size: 1em;
}

SELECT:focus, BUTTON:focus, INPUT:focus {
    border: 2px solid #F80;
    color: black;
    background-color: #F80;
    padding: 0.5em;
    font-size: 0.8em;
    border-style:solid;
}


BUTTON:disabled {
    background-color: #a84;
    color: #ccc;
}

#buttonHide { cursor:pointer; }

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    background: #F80;   
}

#toolbar {
    padding: 1em;
    text-align: left;
    font-size: 0.9em;
    position:absolute;
    left:0px;
    top:0px;
    border-radius: 0px 0px 8px 0px;
    background: rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);    
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.6), 0 22px 70px 4px rgba(121, 121, 121, 0.56), 0 0 0 1px rgba(147, 147, 147, 0.3);
}

#toolbar FIELDSET {
    width:400px;
}

#toolbar LABEL {
    display:block;
    margin: 0.5em;
}

#toolbar LABEL SPAN {
    display: inline-block;
    padding: 0px 0.2em;
    width:40%;
    text-align:right;
}